.card {
    margin: 50px 50px;
}

#navCont {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.loginBtns {
    width: 120px;
    margin: 10px;
    margin-left: 30%;
}

#registerBtn {
    background-color: #ffffff;
    color: darkblue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#carCards {
    padding-bottom: 100px;
    margin-left: 115px;
    margin-right: 115px;
}

#cardsArr {
    border-style: none;
    border-radius: 15px;
}


body {
    background-image: url('../images/silver-mini-coupe-road.jpg');
    background-size: 100%;
    background-attachment: fixed;   
}

#headH1 {
    font-family: cursive;
    display: flex;
    justify-content: center;
    font-size: 90px;
    color: white;
    text-decoration: underline;
}


#homepageForms {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    height: 400px;
}    

#rentalsForm {
    width: 60%;
    margin: 10px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 15px;
}

#formTitle {
    text-decoration: underline;
}

#detailsForm {
    margin: 10px;
    width: 30%;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 15px;
    height: 70%;
}

#selectDate {
    display: flex;
    flex-direction: row;
}

.btn-success {
    background-color: rgb(85, 169, 61);
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactForm {
    padding: 15px;
    background-color: #ffffff;
    width: 60%;
    margin: 30px;
    border-radius: 15px;
}

#contactList ul {
    list-style: none;
}

.col-form-label {
    color: aqua;
}

.card-img-top {
    height: 200px;

}

.btn-submit {
    background-color: aqua;
}

#cont2 {
    height: 800px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headH2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    padding-bottom: 50px;
}

#myChart {
    background-color: rgba(0, 0, 0, .7)
}

#graphPointers {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#graphPointers li {
    margin: 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.graphP {
    color: aqua;
}

#profileH2 {
    color: aqua;
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#profileH2cont {
    width: 30%;
    background-color: rgba(0, 0, 0, .7);
    margin-top: 20px;
    padding: 30px;
}